#### Tuples
Video Outline:
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors


##### Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable.
They are similar to lists, but their immutability makes them different.

In [1]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [25]:
numbers=tuple([1,2,3,4,5,6]) # create a tuple from a list of numbers
numbers

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [24]:
mixed_tuple=(1,"Hello World",3.14, True) # Tuple with mixed data types
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [6]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
print(numbers[2]) # Accessing the third element
print(numbers[-1]) # Accessing the last element

3
6

In [ ]:
numbers[0:4] # Slicing the tuple to get first four elements

(1, 2, 3, 4)

In [ ]:
numbers[::-1] # Reversing the tuple

(6, 5, 4, 3, 2, 1)

In [ ]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple # Concatenating two tuples
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [28]:
mixed_tuple * 3 # Repeating the tuple three times
print(mixed_tuple * 3)
len(numbers) # Length of the tuple

(1, 'Hello World', 3.14, True, 1, 'Hello World', 3.14, True, 1, 'Hello World', 3.14, True)

6

In [ ]:
numbers *3 # Repeating the tuple three times

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [13]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [ ]:
numbers[1]="Krish" # This will raise a TypeError

TypeError: 'tuple' object does not support item assignment

In [30]:
numbers

(1, 2, 3, 4, 5, 6)

In [31]:
## Tuple Methods
print(numbers.count(1)) # Count occurrences of 1 in the tuple
print(numbers.index(3)) # Find index of first occurrence of 3 in the tuple

1
2

In [33]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14 # Packing values into a tuple
print(packed_tuple)

(1, 'Hello', 3.14)

In [35]:
##unpacking a tuple
a,b,c=packed_tuple # Unpacking the tuple into variables

print(a)
print(b)
print(c)

1
Hello
3.14

In [36]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers # Unpacking with the asterisk operator
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [37]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]] # A list containing other lists
print(lst)  

lst[0][0:3]

[[1, 2, 3, 4], [6, 7, 8, 9], [1, 'Hello', 3.14, 'c']]

[1, 2, 3]

In [39]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")] # A list containing other lists and a tuple
print(lst) # Display the nested list
lst[2][0:4]# Accessing elements from the nested tuple within the list

[[1, 2, 3, 4], [6, 7, 8, 9], (1, 'Hello', 3.14, 'c')]

(1, 'Hello', 3.14, 'c')

In [41]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False)) # A tuple containing other tuples

## access the elements inside a tuple
print(nested_tuple[0]) # Accessing the first nested tuple
print(nested_tuple[1][2]) # Accessing the third element of the second nested tuple

(1, 2, 3)
c

In [42]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple: # Access each item in the nested tuple
        print(item,end=" ") # Print items in a single line

1 2 3 a b c True False

#### Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.

In [46]:
t=('Satish')
print(type(t))

t=('Tatish',)
print(type(t))

<class 'str'>
<class 'tuple'>

In [53]:
t=('Tatish', 'Anjaneya', 'Krish','dmkdmd')
print(type(t)) 
print(t[:]) # Slicing the entire tuple
print(t[1:3]) # Slicing from index 1 to 2
print(t[:-3]) # Slicing to exclude the last three elements
print(t[1:]) # Slicing from index 1 to the end

<class 'tuple'>
('Tatish', 'Anjaneya', 'Krish', 'dmkdmd')
('Anjaneya', 'Krish')
('Tatish',)
('Anjaneya', 'Krish', 'dmkdmd')

In [58]:
# Tuple deletion

t = ('Tatish', 'Anjaneya', 'Krish', 'dmkdmd')
print("Pre deletion:", t)

# Delete the entire tuple variable
del t

# Verify deletion safely
try:
    print("Post deletion:", t)
except NameError:
    print("Success: The variable 't' has been deleted and no longer exists.")

Pre deletion: ('Tatish', 'Anjaneya', 'Krish', 'dmkdmd')
Success: The variable 't' has been deleted and no longer exists.

In [59]:
t = ('Tatish', 'Anjaneya', 'Krish', 'dmkdmd')

# 1. Convert to list
temp_list = list(t)

# 2. Remove the item
temp_list.remove('dmkdmd')

# 3. Convert back to tuple
t = tuple(temp_list)

print("Updated tuple:", t)
# Output: ('Tatish', 'Anjaneya', 'Krish')

Updated tuple: ('Tatish', 'Anjaneya', 'Krish')

In [61]:
#Tuple membership test
t = ('Tatish', 'Anjaneya', 'Krish', 'dmkdmd')
print('Anjaneya' in t)  # True
print('John' in t)      # False
# --- IGNORE ---

True
False

In [62]:
# Tuple length
t = ('Tatish', 'Anjaneya', 'Krish', 'dmkdmd')
print(len(t))  # Output: 4

4

In [63]:
#Tuple Sorting Attempt
t = ('Tatish', 'Anjaneya', 'Krish', 'dmkdmd')
sorted_t = tuple(sorted(t))
print("Original tuple:", t) 
print("Sorted tuple:", sorted_t)

Original tuple: ('Tatish', 'Anjaneya', 'Krish', 'dmkdmd')
Sorted tuple: ('Anjaneya', 'Krish', 'Tatish', 'dmkdmd')

In [65]:
#Tuple sorting is not possible as tuples are immutable
t=(1,5,8,9,3,6,2,4,7)
new_t=tuple(sorted(t)) # Create a new sorted tuple
print("Original tuple:", t) 
print("Sorted tuple:", new_t)
print (max(t))
print (min(t))
print (sum(t))

Original tuple: (1, 5, 8, 9, 3, 6, 2, 4, 7)
Sorted tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9)
9
1
45